body {
	background-color: #ff9933;
	}

h1 {
	color: black;
	text-align: center;
	font-family: times; 
	font-size: 40px;
	font-variant: bold;
}

p {
	font-family: courier;
	color: black;
	font-variant: small-caps;
	font-size: 20px;
}

div {
	text-align: center;
    width: auto;
    height: auto;
    border: 3px solid gray;
}
