html {
	margin: 0;
	padding: 0;
	}
body { 
    font-family: 'VT323';
    line-height: 1.88889;
	margin: 0; 
    font-size: 1.05em;
    text-align: center;
    background-color: #26596A;
	}
p {  
    font-family: 'VT323';
    color: white;
    font-size: 20px;
    }
header h1 { 
    background-color: #26596A;
    color: #FDFFFF;
    border-radius: 25px;
    font-weight: 800;
    font-size: 100px;
    margin: 0px;    
	}
header h2 { 
    font-size: 40px;
    color: #FDFFFF;
	}
h3 { 
    border-radius: 15px;
	letter-spacing: 10px; 
	color: white;
    font-size: 30px;
    background-color: #333;
	}
h3:hover {
    color: black;
    }
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: black;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #cddcda;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}
/* specific divs */
.page-wrapper { 
	margin: 0; 
    position: relative;
    background-color: #022835;
    box-shadow: 0px 10px 5px grey;
	}
.summary {
	font: italic 1.1em/2.2 "georgia"; 
    margin: 30px;
    margin-bottom: 10px;
    }
.requirements {
	padding: 0px 10px 0 10px;
    left: 0;
    top: 1050px;
    }
.preamble {
	padding: 0px 10px 0 10px;
    float: left;
    }
.benefits {
    top: 300px;
    }
.supporting {	
	margin-bottom: 40px;
    float: right;
    padding: 0px 10px 0 10px;
	}
.participation {
	padding: 0px 10px 0 10px;
	}
/*SIDEBAR*/
.sidebar {
	position: absolute;
    top: 2750px;
	right: 0;
	}
.sidebar .wrapper { 
	font: 10px verdana, sans-serif; 
	background: transparent url(paper-bg.jpg) top left repeat-y; 
	padding: 40px 5% 30px; 
	}
.sidebar h3.select { 
    background-color: #cddcda;
    color: black;
	}
.sidebar h3.archives { 
    background-color: #cddcda;
    color: black;
	}
.sidebar h3.resources { 
	background-color: #cddcda;
    color: black;
	}
.sidebar ul {
	margin: 0;
	padding: 0;
    }
.sidebar li a:link {
	color: #FDFFFF;
	}
.sidebar li a:visited {
	color: #FDFFFF;
	}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #022835;
    background-color: #26596A;
    }
li {
    float: left;
    }
li a {
    display: block;
    color: #FDFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
li a:hover:not(.active) {
    background-color: #ddd;
    }
li a.active {
    color: white;
    background-color: #4CAF50;
    }
*/