@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
html {
	margin: 0;
	padding: 0;
	}
body { 
    font-family: 'Inconsolata' ;
    line-height: 1.88889;
	margin: 0; 
    text-align: center;
    background-color: #26596A;
	}
p {  
    color: white;
    font-size: 20px;
    }
header h1 { 
    color: #FDFFFF;
    font-family: 'VT323';
    text-shadow: 5px 5px #a22ee0;
    font-weight: 800;
    font-size: 100px;
    margin: 0px;    
	}
header h2 { 
    font-family: 'VT323';
    text-shadow: 1px 1px #a22ee0;
    font-size: 40px;
    color: #FDFFFF;
	}
.intro {
    background-image: url(pics/skyline.jpg);
}
h3 { 
    font-family: 'Inconsolata' ;    
    border-radius: 15px;
	letter-spacing: 10px; 
	color: white;
    font-size: 30px;
    background-color: #333;
	}
h3:hover {
    color: black;
    }
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: black;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #cddcda;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}
/* specific divs */
.page-wrapper { 
	margin: 0; 
    position: relative;
    background-color: #022835;
    box-shadow: 0px 10px 5px grey;
	}
.summary { 
    margin: 30px;
    margin-bottom: 10px;
    }
.requirements {
	padding: 0px 10px 0 10px;
    }
.preamble {
	padding: 0px 10px 0 10px;
    float: left;
    }
.benefits {
    top: 300px;
    }
.supporting {	
	margin-bottom: 40px;
    float: right;
    padding: 0px 10px 0 10px;
	}
.participation {
	padding: 0px 10px 0 10px;
	}
/*SIDEBAR*/
.sidebar {
    margin: 5px;
    display: block;
	position: absolute;
    top: 2750px;
	right: 0;
	}
.sidebar .wrapper { 
	padding: 40px 5% 30px; 
	}
.sidebar h3.select { 
    background-color: #cddcda;
    color: black;
	}
.sidebar h3.archives { 
    background-color: #cddcda;
    color: black;
	}
.sidebar h3.resources { 
	background-color: #cddcda;
    color: black;
	}
.sidebar ul {
	margin: 0;
	padding: 0;
    }
.sidebar li a:link {
	color: #FDFFFF;
	}
.sidebar li a:visited {
	color: #FDFFFF;
	}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.extra1 {
    background-image: url('Dojo_FBG.png');
    position: fixed;
    left: 0;
    top: 0;
}
