/* yes, this is meant to be empty */
ul {
    /* list-style-type: circle;
    list-style-type: disc;
    list-style-type: square;
    */
    
    list-style-image: url(checkmark.gif);
    list-style-position: outside;
}

ol {
    list-style-type: upper-roman;
    list-style-type: lower-roman;
    list-style-type: decimal-leading-zero;
    
}