/* yes, this is meant to be empty */

@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
    font-family: 'Vollkorn', serif;
    font-family: 'Oswald', sans-serif;
    background-image: url(flowers1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;

}
ul {
    /* list-style-type: circle;
    list-style-type: disc;
    list-style-type: square;
    */
    width: 500px;
    list-style-image: url(checkmark.gif);
    list-style-position: outside;
}

ol {
    list-style-type: upper-roman;
    list-style-type: lower-roman;
    list-style-type: decimal-leading-zero;
    
}
li {
    margin: 10px 0px 0px 0px;

}

table {
    width: 800px;

}

td {
    padding: 10px;
    vertical-align: top;
}

th {
    display: none;
}

.day {
    background-color: blueviolet;
    color: aliceblue;
    
}

tr {
    border-top: 1px solid #ccc ;
}

fieldset {
    width: 1000px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px
}

legend {
    background-color: aqua;
    border: 
}

input[type="text"] { 
    border: 2px solid blue;
}

input[type="submit"] {
    background-color: chartreuse;
    
    
}

img {
/*
    width: 50px;
    height: 50px;
*/
    float: left;

}