@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

body {
    font-family: 'Amatic SC', cursive;
    background-image: url(pics/catpatch01.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.5em;
    font-weight: 700;
}

/*dividers*/
.tongue {
    margin: 200px 400px 400px 400px;
}
.banner {
        text-align: center;

}

/*NAVIGATION*/
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 Change the link color to #111 (black) on hover 
li a:hover {
    background-color: #111;
}
*/

/*HorizontalNavigation*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}